.comment{
    margin-top: 7px;
    margin-left: 20px;
}

b{
    display: inline !important;
    padding-right: 5px;
}

p{
    display: inline !important;
}

button{
    display: inline !important;
    border: none;
    text-decoration: none;
    background-color: inherit;
}

.link:hover{
    text-decoration: underline;
}

.comment button {
    float: right;
    margin-right: 20px;
    color: grey;
    cursor: pointer;
}